* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1660890588805-af5d44ff1a93?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVsbCUyMGhkfGVufDB8fDB8fHww");
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main-class{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
    padding: 35px;
}
.main-class h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: beige;
}
.main-class p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
     font-family: fantasy;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: black;
}